<!-- START OF NAV FORMALITIES COPY OF BASE TOP SINCE THE LINK IS ANNOYING -->
{% load static %}

<link rel="stylesheet" href="{% static 'hotelapp/assets/css/joeblog.css' %}">

<html lang="en"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Software Studio II 2023 Final Project.">
    <meta name="authors" content="Pierre Rheeder, Apoorva Singh">
    <title>SKYE RESORTS & HOTELS</title>

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    
    
    <!-- font icons -->
    <link rel="stylesheet" href="./faq_files/themify-icons.css">
    <!-- Bootstrap + JoeBLog main styles -->
	<link rel="stylesheet" href="./faq_files/joeblog.css">
    

    <!-- Page Navigation -->
    <nav class="navbar custom-navbar navbar-expand-md navbar-light bg-primary sticky-top">
        <div class="container">


            <a class="navbar-brand" href="#">
                <img src="{% static 'hotelapp/assets/images/Whitelogo.png' %}" alt="" class="logo">
            </a>


            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">                     
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'about' %}">Contact</a>
                            <a class="dropdown-item" hhref="{% url 'login' %}">Login</a>
                        </div>
                    </li>
                </ul>
                <div class="navbar-nav ml-auto">
                </div>
            </div>
        </div>
    </nav>
    <!-- End Of Page Navigation -->
<!-- END OF NAV FORMALITIES OF BASE TOP SINCE THE LINK IS ANNOYING -->

    <!-- page-header -->
<header class="page-header">
    <div class=".fixed-bg"></div>
    <h1 class="page-header title">Home</h1>
</header>
<!-- End Of Page Header -->


{% if user.is_authenticated %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome {{ user.username }}!</h3>
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
{% else %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome to our hotel!</h3>
        <a href="{% url 'register' %}">Signup</a>
        <a href="{% url 'login' %}">Login</a>
    </div>
{% endif %}
<br>
    <!-- Page Footer -->
    <!-- <footer class="page-footer">
        <div class="container">
            <p>Software Studio II 2023 Winter Final Project | Pierre Rheeder, Apoorva Singh</p> 
        </div>      
    </footer> -->
    <!-- End of Page Footer -->

    <hr>
    <header class="page-header-home">
            <h1 class="page-header-home home">Rooms</h1>
            <br>
            {% for rm in room %}

            <a class="fill" href="{% url 'roomInfo' rm.id %}">{{rm.name}} <br></a>
            <br>
            
            {% endfor %}
    </header>





	<!-- core  -->
    <script src="./faq_files/jquery-3.4.1.js"></script>
    <script src="./faq_files/bootstrap.bundle.js"></script>

    <!-- JoeBLog js -->
    <script src="./faq_files/joeblog.js"></script>

</body>
</html>    

